{% extends "foundation/base.html" %}

{% block base_body %}
<div class="row">
    <div class="large-12 columns">
        <h1>YouPinch!</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Reconstruyamos Alexandria!</h3>
            <br>
                <p>Esta es una herramienta libre pensada para facilitar la descarga de música en la colonia!</p>
                <p>Una vez acabada la descarga podrás encontrar la musica en omnius: accede a través de un cliente como Filezilla o navega con el navegador a <a href="ftp://omnius.calafou/MEDIATECA/audio/music/">Mediateca</a></p>
                <center><a href="{% url 'pinches:new_pinch' %}" class="medium alert radius button">Pinch it!</a></center>
        </div>
    </div>
</div>
{% endblock %}