{% extends "foundation/base.html" %}

{% block base_body %}
<div class="row">
    <div class="large-12 columns">
        <h1>YouPinch!</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Que crezca!</h3>
            {% if pinches %}
            <ul>
                {% for pinch in pinches %}
                <li>{{ pinch.song }} - {{ pinch.artist }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p> No hay descargas </p>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="small-3 small-centered columns">
        <a href="{% url 'pinches:index' %}" class="medium alert radius button">Pinch!</a>
    </div>
</div>
{% endblock %}
