{% extends "foundation/base.html" %}

{% block base_body %}
<div class="row">
    <div class="large-12 columns">
        <h1>YouPinch!</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Pinch It!</h3>
                <p>Intenta ser cuidadosa con los datos que introduces:</p>
                <p>El nombre del artista se convertira en el nombre de la carpeta en el servidor</p>
                <p>El nombre de la canción será el nombre del archivo adentro de la carpeta</p>
                <p>Procura copiar el enlace de yt entero incluyendo "https://"</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <form action="" method="post">{% csrf_token %}
            {{ form.non_field_errors }}
                <div class="row">
                    <div class="large-6 medium-6 columns">
                    {{ form.artist.errors }}
                    {{ form.artist.label_tag }}
                    {{ form.artist }}
                    </div>
                    <div class="large-6 medium-6 columns">
                    {{ form.song.errors }}
                    {{ form.song.label_tag }}
                    {{ form.song }}
                    </div>
                </div>
                <div class"row">
                    <div class="large-8 large-centered columns">
                    {{ form.link.errors }}
                    {{ form.link.label_tag }}
                    {{ form.link }}
                    </div>
                </div>
                <div class="row">
                    <div class="small-10 columns">
                    </div>
                    <div class="small-2 columns">
                    <input class="medium success radius button" type="submit" value="Pinch it!" />
                    </div>   
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}