{% extends "foundation/base.html" %}

{% block base_body %}
<div class="row">
    <div class="large-12 columns">
       <h1>YouPinch!</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>Gracias por compartir!</h3>
            <br>
                <p>Tu descarga se esta procesando!</p>
                <p>Estas curiosa?</p>
                <div class="row">
                    <div class="large-3 medium-3 columns">
                    </div>
                    <div class="large-3 medium-3 columns">
                        <a href="{% url 'pinches:pending_list' %}" class="small info radius button">Descargas en curso</a>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <a href="{% url 'pinches:done_list' %}" class="small info radius button">Ultimas descargadas</a>
                    </div>
                    <div class="large-3 medium-3 columns">
                        <a href="{% url 'pinches:index' %}" class="small alert radius button">Bienvenida!</a>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}
